<!DOCTYPE html>
<head>
</head>
<body>
    <form method = "post" action = "/process">
    <p>Do you eat metal for breakfast?
        Yes<input type="radio" name="answer" value = "Yes" required/>
        No<input type="radio" name="answer" value = "No" required/>
    </p>

    <p>What is infinity + infinity?
        <input type = "form" name = "infinity" required>
    </p>
    <p>Do you get sad?
        <select name = "emotions" required>
        <option>No what are those</option>
        <option>Yea sometimes</option>
        </select>
    </p>
    <button type = "submit" name = "submit" required>I am not a Robot</button>
    </form>

</body>
</html>
